<h1 class="text-6xl text-center text-primary">Study Buddy DevBuild</h1>

<div *ngIf="isUserLogged === false" class="text-center mt-[40%]">
  <input type="text" [(ngModel)]="userIDFilled" required class="m-4">
  <input type="password">
  <button class="btn btn-sm m-4" (click)="setUserID()">Log In</button>
</div>
<div *ngIf="isUserLogged" class="text-center m-2">
Hello {{userIDFilled}}!
</div>
<div *ngIf="isUserLogged" class="text-center">
<button class="btn btn-sm btn-accent " 
(click)="userLogOut()">Log Out</button>
</div>
<div class="text-center" *ngIf="isUserLogged">
<app-studyqa-list></app-studyqa-list>
</div>

